#logobar {

	display:flex;
	align-items: center;
	justify-content: space-between;

}


#filters {
	display:flex;
	height: 49px;
	width: 100%;
	border-style: solid;
  border-width: 1px 0px 1px 0px;
	border-color:  rgb(235, 235, 235);
	align-items: center;
}

.filters2{
	display:flex;
	margin-left: 50px;

}


.left_side input{
	height:45px;
	width:460px;
	font-size: 17px;
	box-shadow: 0px 2.5px 5px 0.1px rgba(0,0,0,.2);
	border:none;
	border-radius: 5px;
	transition: .5s;

}

.left_side input:hover{
	box shadow: 0px 2.5px 15px 0px rgba(0,0,0,.5)
}

}
#searchbar{
	height:48px;
	width:460px;

}

#links{

	align-self:center;
	align-items: flex-end;
}

.rightlinks{
	width:400px;
	align-items: flex-end;


	}

.left_side{
	width: 520px;
	justify-content: space-between;
	display: flex;
	align-items: center;

}

.rightlinks1{
	list-style: none;

}


.rightlinks nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}


.rightlinks nav ul li a{
	text-decoration: none;
	color:black;

}

#logo{
	height: 60px;
	width:60px;
	background-position: center;
	background-image:url("https://res.cloudinary.com/dluvhjltn/image/upload/v1561626948/Airbnb/airbnb_qdltvd.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#AirBnb{
	margin-left: 50px;
	margin-top: 35px;
	display: grid;


}
#cities{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;

}
#Plus{
	display: grid;
}
#Plus2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	margin-bottom: 10px;
}


#homes{
	display: grid;
	background-color: green;
}
#moreinfo{
	display:grid;
	background-color: purple;
}



.product-image{
	width: 343px;
	height: 228.66px;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	border-radius: 2%;

}
.city{

	display:flex;
	margin-left: 50px;
	border-style: solid;
  border-width: 1px 1px 1px 1px;
	border-color:  rgb(235, 235, 235);
	width:300px;

}


.cityimages{
	width: 140px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	border-radius: 2%;

}

.citylabel{
	justify-content: space-between;
	display: flex;
	align-items:flex-end;

}

.countrylabel{
	justify-content: space-between;
	display: flex;
	align-items: center;

}


.fa-star{
	float: left;
	color: purple;
}


._17u98ky {
    display: table-cell !important;
    vertical-align: middle !important;
}

._1i67wnzj {
		margin: 10px;
		height: 32px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    background: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(220, 224, 224) !important;
    border-image: initial !important;
    border-radius: 4px !important;
    text-decoration: none !important;
}
