#logobar {
	display:grid;
  grid-template-columns: 100px auto auto auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "airbnb_logo header . links";
}

#filters {
	display:flex;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	align-content: flex-start;
}

#filters1 {

}

#search{

	grid-area:header;
	display:flex;
	align-content: center;
	align-self:center;

}

#links{
	grid-area:links;
	display:flex;
	justify-content: flex-end;
	align-self:center;
	align-content:flex-end;

}
.rightlinks{
	margin-left: 25px;
}

#logo{
	grid-area: airbnb_logo;
	background-position: center;
	background-image:url("https://res.cloudinary.com/dluvhjltn/image/upload/v1561626948/Airbnb/airbnb_qdltvd.png");
	background-size: contain;
}

#AirBnb{
	display: grid;
	background-color: yellow;

}
#cities{
	display: grid;
	background-color: red;

}
#Plus{
	display: grid;
}
#Plus2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
#product{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
#homes{
	display: grid;
	background-color: green;
}
#moreinfo{
	display:grid;
	background-color: purple;
}

.product-image{
	width: 343px;
	height: 228.66px;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	border-radius: 2%;

}

._17u98ky {
    display: table-cell !important;
    vertical-align: middle !important;
}

._1i67wnzj {
		height: 64px;
		width: 32px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    background: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(220, 224, 224) !important;
    border-image: initial !important;
    border-radius: 4px !important;
    text-decoration: none !important;
}
